<style>
  .container { width: 800px; font-family: Arial, Helvetica, sans-serif;
  align-items: center; display: flex; flex-direction: column; } span { margin:
  10px; }

</style>

<div class='container'>
  <img src='https://i.imgur.com/oUAKMC5.png' />
  <span>Hey, {{name}}</span>

  <br />

  <span>You requested a password change.</span>
  <span>To create a new password, access the following link
    <a href={{link}}>{{link}}</a>
  </span>

  <span>If you didn't request a password change, just ignore this e-mail.</span>

  <strong>Thanks!</strong>

  <h3>Team | <strong>Rentx</strong></h3>
</div>